html {
    min-height:100%;
}

body {
    background-color: #002A3A;
    color: #CCCCCC;
}

.banner {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Roboto', serif;
    
}

select {
    color: #002A3A;
    text-overflow: ellipsis;
    max-width: 200px;
    
}

#left-column {
    margin-right: 60px;

}


#song-detail {
    margin-right: 20px;

}

/* Table Formats */

table td {  
    background-color:rgba(152, 154, 155, .25);
    padding-left: 10px !important;
}

table td:hover, table td:active {  
    background-color: #002A3A;

}

table td a {
    text-decoration: none;
    color: #ffffff;
}

table td a:hover, table td a:active {
    color: #CCCCCC; 
}

.form-label {
    color:#FFFFFF;
}

#profile-container {
    border-right: 2px solid grey;
}

#content-container {
    border: 1px solid grey;
}

