html {
    min-height:100%;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(352deg, rgba(2,0,36,1) 0%, rgba(143,143,158,0.7091211484593838) 51%, rgba(0,212,255,1) 100%);
}

.banner {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Roboto', serif;
    
}

#profile-container {
    border-right: 2px solid grey;
}

#content-container {
    border: 1px solid grey;
}

