html {
    min-height:100%;
}

header h3 {
    text-align: center;
}

body {
    background-color: #002A3A;
    color: #CCCCCC;
    overflow: auto;
}

body.lightmode{
    background-color: #CCCCCC;
    color: #002A3A;
    overflow: auto;
}

.banner {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Roboto', serif;
}

select {
    color: #002A3A;
    text-overflow: ellipsis;
    max-width: 160px;
}

#left-column {
    margin-right: 150px;
}

#response-container img{
    height: auto;
    width: 230px;
}

#topic-search {
    max-width: 160px;
}

table td {  
    background-color:rgba(152, 154, 155, .25);
    padding-left: 10px !important;
}

.lightmode table td {
    background-color:rgba(152, 154, 155, .75);
    padding-left: 10px !important;
}

table td:hover, table td:active {  
    background-color: #002A3A;
}

.lightmode table td:hover, .lightmode table td:active {  
    background-color: #cdcbcd;
}

table td a {
    text-decoration: none;
    color: #ffffff;
}

.lightmode table td a {
    text-decoration: none;
    color: #ffffff;
}

table td:hover > a, table td:active > a {
    color: #cccccc;
}

.lightmode table td:hover > a, .lightmode table td:active > a {
    color: #002A3A;
}

.form-label {
    color:#FFFFFF;
}

#profile-container {
    border-right: 2px solid grey;
}

#content-container {
    border: 1px solid grey;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}